@{
    Layout = "_Layout";
    ViewData["Title"] = "Bibloteket";
}

<div id="welcomeText-container">
    <h2>Välkommen till Bilbiblioteket!</h2>
    <p>
        Utforska vårt bibliotek av böcker och författare! Du kan enkelt skapa nya böcker och författare, uppdatera information eller radera poster.
    </p>
</div>


